@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<main class="main" id="main">
    <a class="" asp-area="" asp-controller="Home" asp-action="Index"><i class="bi bi-arrow-left"></i></a>
    <h1>Admin DashBoard</h1>
</main>
