@{
    Layout = "~/views/Shared/_Layout.cshtml";
}

<main class="main" id="main">
    <div class="card">
        <div class="container">
            <a class="btn" asp-area="Admin" asp-controller="Admin" asp-action="Admin_DashBoard">
                Admin DashBoard <i class="bi bi-arrow-right"></i>
            </a>
        </div>
    </div>
    <div class="card">
        <div class="container ">
            <a class="btn" asp-area="User" asp-controller="UserDashBoard" asp-action="User_DashBoard">
                User DashBoard <i class="bi bi-arrow-right"></i>
            </a>
        </div>
    </div>
</main>